.body{
    background-color: #808080;
    margin: 0%;
}
.mainbox{
    margin-top: 5%;
    background-color: rgb(245, 237, 237);
    margin-left: 25%;
    margin-right: 45%;
    padding-right:20px;
    border: 1px solid black;
}
.contactname {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}
.li{
    list-style: none;
    margin-top: 25px;
}
  .deletebotton{
     max-width: 60px;
     max-height: 20px;
     /* background-color: aqua; */
    } 

.heading{
    text-align: center;
    margin-left: 25%;
    /* justify-content: center; */
    max-width: 200px;
    background-color: aliceblue;
} 
.entry{
    margin-left: 35px;
}   
